<div class="container">
<div class="flex justify-center items-center">
<div class="card w-96 my-3 mx-3 bg-base-100 shadow-xl image-full">
  <div class="card-body">
    <h2 class="card-title"><%= link_to board.title, board_path(board) %></h2>
    <p><%= board.user.name %></p>
    <p><%= l board.created_at, format: :short %></p>
  <% if current_user && current_user.own?(board) %>
    <div class='ml-auto'>
    <%= link_to '編集', edit_board_path(board), id: "button-edit-#{board.id}" %>
    <%= link_to '削除', board_path(board), id: "button-delete-#{board.id}", data: {turbo_method: :delete, turbo_confirm: '削除しますか'} %>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>