<%= form_with model: @board do |f| %>
  <div class="my-3">
    <div>
      <%= f.label :board_image %>
      <%= f.file_field :board_image, class: "form-control", accept: 'image/*' %>
      <%= f.hidden_field :board_image_cache %>

      <% if board.board_image.present? %>
        <div class="mb-4 flex flex-row space-x-4">
          <%= image_tag board.board_image.url, alt: "Current Image", class: "mt-2 block h-20 w-28" %>
        </div>
      <% end %>
    </div>
    <p><%= f.label :title, '旅で印象に残ったこと', class: "form-label" %></p>
    <%= f.text_field :title, class: "w-96 border-solid border-2 rounded border-slate-400", placeholder: '例）大阪での発見' %>
  </div>
  <div class="my-3">
    <p><%= f.label :opinion, 'なぜそれが特に印象に残ったのですか?', class: "form-label" %></p>
    <%= f.text_area :opinion, class: "w-96 h-14 border-solid border-2 rounded border-slate-400", placeholder: '例）大阪ではエスカレータは右に並ぶ' %>
  </div>
  <div class="my-3">
    <p><%= f.label :background, 'そのことに関連する自分の経験や背景を教えてください', class: "form-label" %></p>
    <%= f.text_area :background, class: "w-96 h-14 border-solid border-2 rounded border-slate-400", placeholder: '例）エスカレータで並ぶ時は世界共通で左だと思っていた' %>
  </div>
  <div class="my-3">
    <p><%= f.label :emotion, 'その経験を通して、どんな感情や気持ちが湧きましたか?', class: "form-label" %></p>
    <%= f.text_field :emotion, class: "w-96 border-solid border-2 rounded border-slate-400", placeholder: '例）驚き 面白い' %>
  </div>
  <div class="my-3">
    <p><%= f.label :value, 'この経験からあなたが学んだことや、重要だと思うことは?', class: "form-label" %></p>
    <%= f.text_area :value, class: "w-96 h-14 border-solid border-2 rounded border-slate-400", placeholder: '例）新しいことを知った時に面白いと思える' %>
  </div>
  <%= f.submit '投稿', class: "btn btn-primary"%>
<% end %>