<div class="py-6 sm:py-6 lg:py-2">
  <div class="mx-auto py-3">
  <h3 class="text-center lg:text-2xl my-10"><%= 'プロフィール' %></h3>
    <div class="m-auto pt-10 text-center"><%= @current_user.name %></div>
    <div class="m-auto pt-2 pb-5 text-center"><%= link_to 'プロフィール編集', profiles_path %></div>
  </div>
</div>

<div class="py-3 sm:py-8 lg:py-3">
  <div class="mx-auto py-3">
      <h3 class="text-center lg:text-2xl my-10"><%= '自分の記事一覧' %></h3>
    <% if @boards.present? %>
      <%= render @boards %>
    <% else %>
      <div class="m-auto pt-10 pb-20 text-center">掲示板がありません</div>
    <% end %>
    <div class="flex justify-center">
    <%= link_to '投稿する', new_board_path, class: 'btn'%>
    </div>
  </div>
</div>