<div class="container">
<div class="px-4">
<h3 class="my-6 text-2xl"><%= "#{@board.title}" %></h3>

<% if @board.board_image.present? %>
    <%= image_tag @board.board_image_url, class: "object-contain" %>
<% end %>

<ul>
<li><div class="inline-flex">
<%= '投稿者:' %>
<%= @board.user.name %>
</div></li>

<li><div class="inline-flex mb-6">
<%= '投稿日時:' %>
<%= l @board.created_at, format: :long %>
</div></li>

<p class="mb-1"><%= 'なぜそれが特に印象に残ったのですか?' %></p>
<div class="w-96 mb-6 py-1 px-1 border-solid border-2 rounded border-slate-400">
<%= simple_format(@board.opinion) %>
</div>
<p class="mb-1"><%= 'そのことに関連する自分の経験や背景' %></p>
<div class="w-96 mb-6 py-1 px-1 border-solid border-2 rounded border-slate-400">
<%= simple_format(@board.background) %>
</div>
<p class="mb-1"><%= 'その経験を通して、どんな感情や気持ちが湧きましたか?' %></p>
<div class="w-96 mb-6 py-1 px-1 border-solid border-2 rounded border-slate-400">
<%= simple_format(@board.emotion) %>
</div>
<p class="mb-1"><%= 'この経験からあなたが学んだことや、重要だと思うことは?' %></p>
<div class="w-96 h-14 mb-6 py-1 px-1 border-solid border-2 rounded border-slate-400">
<%= simple_format(@board.value) %>
</div>

<%= link_to '一覧に戻る', boards_path, class: 'btn mt-3'%>
</div>
</div>