<!DOCTYPE html>
<html>
  <head>
    <title>Journalip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGP -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/479ba9e980.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-[#fbfbfb]">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header'%>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
